html, body, head {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #282c34;
  color: white;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -50px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.footer, .page-wrap:after {
  height: 50px; 
}
.footer {
  background-color: #20232a;
  text-align: center;
  padding: 20px;
}
.header {
  padding: 20px;
  background-color: #20232a;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3495eb;
  border: none;
  border-radius: 5px;
}


.button:hover {background-color: #4334eb}

.button:active {
  background-color: #4334eb;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  
  background-color: #20232a;
}
.nav button {
  padding: 10px 20px;
  color: white;
}
.main-content {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  flex-direction: wrap;
  gap: 20px;
  background-color: #20232a;
  color:white
}
.info-text {
  flex: 1;
  min-width: 250px;
  margin-right: 10px;
  margin-left: 10px;
}
.box-infogame, .box-from-soft, .box-you-died {
  flex: 1; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: contain; 
  margin: 10px; 
}

.image-infogame{
  max-width: 500px;
  max-height: 500px;
}

.image-soulsborne{
  max-width: 500px;
  max-height: 500px;
}

.image-youdied{
  max-width: 250px;
  max-height: 250px;
  height: 220px;
  width: 250px;
}

.box-infogame {
  max-width: 500px;
  max-height: 500px;
}
.box-from-soft {
  margin-top: 20;
  max-width: 500px;
  max-height: 500px;
}
.box-you-died {
  max-width: 250px;
}

.button-container button { 
  margin-right: 5px; 
}

.hidden { 
  display: none; 
}

.level-calculator {
  display: grid;
  place-items: center;
}

.stat-row div {
  margin-right: 8px; /* Adjust the value as needed */
}